{% extends 'base.html.twig' %}

{% block title %}Product List
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
{% endblock %}

{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
{% endblock %}

{% block body %}
	<section class="category-header">
		<div class="wrapper">
			<ul class="breadcrumb">
				<li>
					<a href="#">Accueil</a>
				</li>
				<li>
					<a href="#">Hommes</a>
				</li>
				<li>
					<a href="#">Vêtements</a>
				</li>
				<li>Cuissards</li>
			</ul>
			<h1 class="title">Cuissards homme</h1>
			<div class="description">
				<p>Le cuissard de vélo fait partie de l’équipement indispensable de tous les cyclistes qui pratiquent le vélo de route.</p>
			</div>
			<a href="#products" class="btn btn-outline">Voir les cuissards</a>
		</div>
	</section>
	<section class="category-range">
		<div class="wrapper">
			<h2 class="title">Quel type de cycliste êtes-vous ?</h2>
			<div class="description">
				<p>Afin de vous aider dans votre choix, nous vous proposons 3 gammes d’équipements selon votre niveau.</p>
			</div>
			<div class="swiper range-slider">
				<div class="swiper-wrapper grid">
					<a href="#" class="item racing swiper-slide">
            <img src="/img/category-header.jpg" alt="" class="background">
						<span class="range-label">Gamme</span>
						<img class="range-ekoi-logo" src="/img/logo/ekoi-white.svg" alt="">
						<h3 class="range-title red">Racing</h3>
						<p class="range-description">POUR LES COMPÉTITEURS ET CYCLISTES CHEVRONNÉ(E)S.</p>
					</a>
					<a href="#" class="item perf swiper-slide">
            <img src="/img/category-header.jpg" alt="" class="background">
						<span class="range-label">Gamme</span>
						<img class="range-ekoi-logo" src="/img/logo/ekoi-white.svg" alt="">
						<h3 class="range-title grey">Perf</h3>
						<p class="range-description">POUR LES CYCLOSPORTIF(VE)S ET COMPÉTITEURS</p>
					</a>
					<a href="#" class="item start swiper-slide">
            <img src="/img/category-header.jpg" alt="" class="background">
						<span class="range-label">Gamme</span>
						<img class="range-ekoi-logo" src="/img/logo/ekoi-white.svg" alt="">
						<h3 class="range-title black">Start</h3>
						<p class="range-description">POUR LES DÉBUTANT(E)S ET PRATIQUANTS OCCASIONNELS</p>
					</a>
				</div>
				<div class="swiper-nav">
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
			</div>
		</div>
	</section>
	<div class="category-remove-filter-wrapper">
		<button class="category-remove-filter btn btn-outline">Masquer les filtres</button>
	</div>
	<section class="category-main" id="products">
		<div class="filter-sidebar">
      <div class="filter-header">
        <span class="result">3 résultats</span>
        <button class="clear-filter">Effacer les filtres</button>
      </div>
      <div class="filter-item">
        <span class="title">Niveau</span>
        <ul class="list checkbox">
          <li>
            <input type="checkbox" id="start">
            <label for="start">EKOI Start <span class="number">(1)</span></label>
          </li>
          <li>
            <input type="checkbox" id="racing">
            <label for="racing">EKOI Racing <span class="number">(2)</span></label>
          </li>
          <li>
            <input type="checkbox" id="perf">
            <label for="perf">Gravel performance <span class="number">(1)</span></label>
          </li>
        </ul>
      </div>
      <div class="filter-item">
        <span class="title">Taille disponible</span>
        <ul class="list radio">
          <li>
            <input type="radio" name="size" id="xs">
            <label for="xs">XS <span class="number">(1)</span></label>
          </li>
          <li>
            <input type="radio" name="size" id="s">
            <label for="s">S <span class="number">(2)</span></label>
          </li>
          <li>
            <input type="radio" name="size" id="m">
            <label for="m">M <span class="number">(1)</span></label>
          </li>
        </ul>
      </div>
      <div class="filter-item">
        <span class="title">Couleur</span>
        <ul class="list radio color">
          <li>
            <input type="radio" name="color" id="noir">
            <label for="noir"><span class="color" style="background-color: #000"></span> Noir <span class="number">(1)</span></label>
          </li>
          <li>
            <input type="radio" name="color" id="kaki">
            <label for="kaki"><span class="color" style="background-color: #A0B578"></span> Kaki <span class="number">(2)</span></label>
          </li>
          <li>
            <input type="radio" name="color" id="bleu">
            <label for="bleu"><span class="color" style="background-color: #3C7EBF"></span> Bleu <span class="number">(1)</span></label>
          </li>
        </ul>
      </div>
    </div>
		<div class="product-list">
			<div class="product-miniature">
				<img src="/img/miniature.jpg" alt="">
				<div class="tags">
					<span class="tag red">Racing</span>
					<span class="tag new">New</span>
					<span class="tag">8h</span>
					<span class="tag">Anti-abrasion</span>
					<span class="tag">Court</span>
				</div>
				<h3 class="title">Cuissard EKOI 3D GEL PERF HEXA Noir</h3>
				<div class="price discounted">
					<div class="current-price">93,49 €</div>
					<div class="original-price">169,99 €</div>
					<div class="discount">45% de réduction</div>
				</div>
				<a class="review-stars" href="#review">
					<img src="/img/star-review.svg" alt="">
					<span>(43)</span>
				</a>
			</div>
			<div class="product-miniature">
				<img src="/img/miniature.jpg" alt="">
				<div class="tags">
					<span class="tag red">Racing</span>
					<span class="tag new">New</span>
					<span class="tag">8h</span>
					<span class="tag">Anti-abrasion</span>
					<span class="tag">Court</span>
				</div>
				<h3 class="title">Cuissard EKOI 3D GEL PERF HEXA Noir</h3>
				<div class="price discounted">
					<div class="current-price">93,49 €</div>
					<div class="original-price">169,99 €</div>
					<div class="discount">45% de réduction</div>
				</div>
				<a class="review-stars" href="#review">
					<img src="/img/star-review.svg" alt="">
					<span>(43)</span>
				</a>
			</div>
			<div class="product-miniature">
				<img src="/img/miniature.jpg" alt="">
				<div class="tags">
					<span class="tag red">Racing</span>
					<span class="tag new">New</span>
					<span class="tag">8h</span>
					<span class="tag">Anti-abrasion</span>
					<span class="tag">Court</span>
				</div>
				<h3 class="title">Cuissard EKOI 3D GEL PERF HEXA Noir</h3>
				<div class="price discounted">
					<div class="current-price">93,49 €</div>
					<div class="original-price">169,99 €</div>
					<div class="discount">45% de réduction</div>
				</div>
				<a class="review-stars" href="#review">
					<img src="/img/star-review.svg" alt="">
					<span>(43)</span>
				</a>
			</div>
		</div>
	</section>
	<section class="category-description">
		<div class="wrapper">
			<div class="text">
				<div class="title">Cuissards homme</div>
				<p class="chapo">Le cuissard de vélo fait partie de l’équipement indispensable de tous les cyclistes qui pratiquent le vélo de route.</p>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
			</div>
			<div class="image-wrapper">
				<div class="image">
          <img src="/img/category-description-1.jpg" alt="">
        </div>
				<div class="image">
          <img src="/img/category-description-2.jpg" alt="">
        </div>
				<div class="image">
          <img src="/img/category-description-3.jpg" alt="">
        </div>
			</div>
		</div>
	</section>

  <section class="buying-guide">
    <h2 class="title">Guide d'achat</h2>
    <p class="description">Le cuissard de vélo fait partie de l’équipement indispensable de tous les cyclistes qui pratiquent le vélo de route.</p>
    <div class="swiper buying-guide-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide item" style="background-image: url('/img/buying-guide-1.jpg')">
          <div class="inner">
            <h3 class="title">Comment choisir son cuissard de vélo ?</h3>
            <p>Le cuissard de vélo fait partie de l’équipement indispensable de tous les cyclistes qui pratiquent le vélo de route.</p>
            <a href="#" class="btn btn-outline">Lire la suite</a>
          </div>
        </div>
        <div class="swiper-slide item" style="background-image: url('/img/buying-guide-2.jpg')">
          <div class="inner">
            <h3 class="title">Comment choisir son cuissard de vélo ?</h3>
            <p>Le cuissard de vélo fait partie de l’équipement indispensable de tous les cyclistes qui pratiquent le vélo de route.</p>
            <a href="#" class="btn btn-outline">Lire la suite</a>
          </div>
        </div>
        <div class="swiper-slide item" style="background-image: url('/img/buying-guide-3.jpg')">
          <div class="inner">
            <h3 class="title">Comment choisir son cuissard de vélo ?</h3>
            <p>Le cuissard de vélo fait partie de l’équipement indispensable de tous les cyclistes qui pratiquent le vélo de route.</p>
            <a href="#" class="btn btn-outline">Lire la suite</a>
          </div>
        </div>
      </div>
      <div class="swiper-nav">
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>          
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </section>

  <div class="product-featured">
    <div class="wrapper">
      <h2 class="title">Vous devriez aussi aimer</h2>
      <div class="swiper featured-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="product-miniature">
              <img src="/img/miniature.jpg" alt="">
              <div class="tags">
                <span class="tag red">Racing</span>
                <span class="tag new">New</span>
                <span class="tag">8h</span>
                <span class="tag">Anti-abrasion</span>
                <span class="tag">Court</span>
              </div>
              <h3 class="title">Cuissard EKOI 3D GEL PERF HEXA Noir</h3>
              <div class="price discounted">
                <div class="current-price">93,49 €</div>
                <div class="original-price">169,99 €</div>
                <div class="discount">45% de réduction</div>
              </div>
              <a class="review-stars" href="#review">
                <img src="/img/star-review.svg" alt="">
                <span>(43)</span>
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-miniature">
              <img src="/img/miniature.jpg" alt="">
              <div class="tags">
                <span class="tag red">Racing</span>
                <span class="tag new">New</span>
                <span class="tag">8h</span>
                <span class="tag">Anti-abrasion</span>
                <span class="tag">Court</span>
              </div>
              <h3 class="title">Cuissard EKOI 3D GEL PERF HEXA Noir</h3>
              <div class="price discounted">
                <div class="current-price">93,49 €</div>
                <div class="original-price">169,99 €</div>
                <div class="discount">45% de réduction</div>
              </div>
              <a class="review-stars" href="#review">
                <img src="/img/star-review.svg" alt="">
                <span>(43)</span>
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-miniature">
              <img src="/img/miniature.jpg" alt="">
              <div class="tags">
                <span class="tag red">Racing</span>
                <span class="tag new">New</span>
                <span class="tag">8h</span>
                <span class="tag">Anti-abrasion</span>
                <span class="tag">Court</span>
              </div>
              <h3 class="title">Cuissard EKOI 3D GEL PERF HEXA Noir</h3>
              <div class="price discounted">
                <div class="current-price">93,49 €</div>
                <div class="original-price">169,99 €</div>
                <div class="discount">45% de réduction</div>
              </div>
              <a class="review-stars" href="#review">
                <img src="/img/star-review.svg" alt="">
                <span>(43)</span>
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-miniature">
              <img src="/img/miniature.jpg" alt="">
              <div class="tags">
                <span class="tag red">Racing</span>
                <span class="tag new">New</span>
                <span class="tag">8h</span>
                <span class="tag">Anti-abrasion</span>
                <span class="tag">Court</span>
              </div>
              <h3 class="title">Cuissard EKOI 3D GEL PERF HEXA Noir</h3>
              <div class="price discounted">
                <div class="current-price">93,49 €</div>
                <div class="original-price">169,99 €</div>
                <div class="discount">45% de réduction</div>
              </div>
              <a class="review-stars" href="#review">
                <img src="/img/star-review.svg" alt="">
                <span>(43)</span>
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-miniature">
              <img src="/img/miniature.jpg" alt="">
              <div class="tags">
                <span class="tag red">Racing</span>
                <span class="tag new">New</span>
                <span class="tag">8h</span>
                <span class="tag">Anti-abrasion</span>
                <span class="tag">Court</span>
              </div>
              <h3 class="title">Cuissard EKOI 3D GEL PERF HEXA Noir</h3>
              <div class="price discounted">
                <div class="current-price">93,49 €</div>
                <div class="original-price">169,99 €</div>
                <div class="discount">45% de réduction</div>
              </div>
              <a class="review-stars" href="#review">
                <img src="/img/star-review.svg" alt="">
                <span>(43)</span>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-nav">
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>          
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="product-combination">
      <div class="wrapper">
        <h2 class="title">Équipez-vous<br> Avec toute la tenue</h2>
        <p class="description">Le cuissard de vélo fait partie de l’équipement indispensable de tous les cyclistes qui pratiquent le vélo de route.</p>
        <div class="swiper combination-slider">
        <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="product-miniature">
              <img src="/img/miniature.jpg" alt="">
              <div class="tags">
                <span class="tag red">Racing</span>
                <span class="tag new">New</span>
                <span class="tag">8h</span>
                <span class="tag">Anti-abrasion</span>
                <span class="tag">Court</span>
              </div>
              <h3 class="title">Cuissard EKOI 3D GEL PERF HEXA Noir</h3>
              <div class="price discounted">
                <div class="current-price">93,49 €</div>
                <div class="original-price">169,99 €</div>
                <div class="discount">45% de réduction</div>
              </div>
              <a class="review-stars" href="#review">
                <img src="/img/star-review.svg" alt="">
                <span>(43)</span>
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-miniature">
              <img src="/img/miniature.jpg" alt="">
              <div class="tags">
                <span class="tag red">Racing</span>
                <span class="tag new">New</span>
                <span class="tag">8h</span>
                <span class="tag">Anti-abrasion</span>
                <span class="tag">Court</span>
              </div>
              <h3 class="title">Cuissard EKOI 3D GEL PERF HEXA Noir</h3>
              <div class="price discounted">
                <div class="current-price">93,49 €</div>
                <div class="original-price">169,99 €</div>
                <div class="discount">45% de réduction</div>
              </div>
              <a class="review-stars" href="#review">
                <img src="/img/star-review.svg" alt="">
                <span>(43)</span>
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-miniature">
              <img src="/img/miniature.jpg" alt="">
              <div class="tags">
                <span class="tag red">Racing</span>
                <span class="tag new">New</span>
                <span class="tag">8h</span>
                <span class="tag">Anti-abrasion</span>
                <span class="tag">Court</span>
              </div>
              <h3 class="title">Cuissard EKOI 3D GEL PERF HEXA Noir</h3>
              <div class="price discounted">
                <div class="current-price">93,49 €</div>
                <div class="original-price">169,99 €</div>
                <div class="discount">45% de réduction</div>
              </div>
              <a class="review-stars" href="#review">
                <img src="/img/star-review.svg" alt="">
                <span>(43)</span>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-nav">
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>          
          <div class="swiper-button-next"></div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <section class="category-review">
    <h2 class="title">Les avis sur nos cuissards en toute transparence</h2>
    <img src="/img/review.jpg" alt="">
    <a href="#" class="btn btn-outline">Découvrir les avis</a>
  </section>

	<script>
		if (window.matchMedia('(max-width: 1024px)').matches) {
      const gallerySlider = new Swiper('.range-slider', {
        slidesPerView: 1.2,
        spaceBetween: 15,
        autoplay: {
          delay: 5000
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      });
    }

    let categoryRemoveFilter = document.querySelector('.category-remove-filter');
    let categotyMain = document.querySelector('.category-main');

    categoryRemoveFilter.addEventListener('click', () => {
      categotyMain.classList.toggle('no-filter');
    });

    let filterItemsTitle = document.querySelectorAll('.filter-item .title');
    filterItemsTitle.forEach(item => {
      item.addEventListener('click', () => {
        item.classList.toggle('hide');
      })
    });

    const buyingGuideSlider = new Swiper('.buying-guide-slider', {
      loop: false,
      slidesPerView: 1,
      breakpoints: {
        575: {
          slidesPerView: 1.5
        },
        768: {
          slidesPerView: 2
        },
        1024: {
          slidesPerView: 2.5
        }
      },
      spaceBetween: 30,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      autoplay: {
        delay: 5000,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });

    const featuredSlider = new Swiper('.featured-slider', {
      loop: true,
      slidesPerView: 1.75,
      breakpoints: {
        768: {
          slidesPerView: 2
        },
        1024: {
          slidesPerView: 3
        }
      },
      spaceBetween: 30,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      autoplay: {
        delay: 5000,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });

    const combinationSlider = new Swiper('.combination-slider', {
      loop: true,
      slidesPerView: 1,
      spaceBetween: 30,
      breakpoints: {
        768: {
          slidesPerView: 2
        },
        1024: {
          slidesPerView: 3
        }
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      autoplay: {
        delay: 5000,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });

    document.addEventListener("DOMContentLoaded", function() {
      const combinationProduct = document.querySelector(".product-combination .combination-slider");
      const combinationProductHeight = combinationProduct.offsetHeight;
      combinationProduct.closest('.wrapper').style.marginBottom = `${combinationProductHeight / 2}px`;
      combinationProduct.style.marginTop = `${combinationProductHeight / -2}px`;
    });
	</script>
{% endblock %}
