<header class="header">
  <div class="top">
    <div class="wrapper">
      <div class="banner">
        <p class="item">L’extraordinaire Braderie Ekoï est ouverte! Jusqu’à -60%</p>
      </div>
      <button class="selector fr" popovertarget="langselector">EUR € / France</button>
    </div>
  </div>
  <div class="wrapper">
    <img src="/img/logo/ekoi.svg" alt="" class="logo">
    <div class="menu">
      <div class="inner">
        <img src="/img/logo/ekoi.svg" alt="" class="logo">
        <button class="selector fr" popovertarget="langselector">EUR € / France</button>
      </div>
      <nav>
        <ul>
          {% for item in menuData.items %}
            <li {% if item.children is defined and item.children|length > 0 %}class="parent"{% endif %}>
              <a href="{{ item.url|default('#') }}">{{ item.title }}</a>
              {% if item.children is defined and item.children|length > 0 %}
                <div class="submenu">
                  <div class="level-1">
                    <span class="back">Retour</span>
                    <span class="title">{{ item.title }}</span>
                    {% include '_menu_items.html.twig' with {'items': item.children, 'level': 2} %}
                  </div>
                  {% if item.image %}
                    <div class="picture">
                      <img src="http://localhost/media/image/{{ item.image }}" alt="">
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
    <div class="right">
      <button class="search">
        <span class="label">Rechercher un produit</span>
      </button>
      <a href="#" class="user"></a>
      <a href="#" class="cart"></a>
    </div>
  </div>
</header>

<div class="mobile-navbar">
  <button class="search"></button>
  <a href="#" class="user"></a>
  <a href="#" class="cart"></a>
  <button class="menu-toggle"></button>
</div>

<div class="langselector" id="langselector" popover>
  <span class="title">Préférences</span>
  <form>
    <div class="form-group">
      <label for="lang">Langue</label>
      <select type="text" name="lang" id="lang">
        <option value="fr">Français</option>
      </select>
    </div>
    <div class="form-group">
      <label for="curr">Devise</label>
      <select type="text" name="curr" id="curr">
        <option value="fr">Euro €</option>
      </select>
    </div>
    <button class="btn" type="submit">Mettre à jour les préférences</button>
  </form>
</div>

<script>
  if (window.matchMedia('(min-width: 1025px)').matches) {
    let header = document.querySelector('.header');
    document.documentElement.style.setProperty("--header-height", `${header.offsetHeight}px`);
  }

  if (window.matchMedia('(max-width: 1024px)').matches) {
    let mobileNavbar = document.querySelector('.mobile-navbar');
    let menuToggle = document.querySelector('.mobile-navbar .menu-toggle');
    let menu = document.querySelector('.header .menu');
    let menuParents = document.querySelectorAll('.header nav ul li.parent');

    menuToggle.addEventListener('click', () => {
      mobileNavbar.classList.toggle('active');
      menu.classList.toggle('active');
    });

    menuParents.forEach(parent => {
      let back = parent.querySelector('.back');

      parent.addEventListener('click', (e) => {
        if (e.target == parent) {
          e.preventDefault();
          parent.classList.add('active');
        }
      });

      back.addEventListener('click', () => {
        parent.classList.remove('active');
      });
    });
  }
</script>