<div class="cart-sidebar-wrapper">
	<div class="cart-sidebar">
		<div class="cart-sidebar-header">
			<div class="header__top">
				<div class="close">
					<svg width="18.387" height="18.387" viewbox="0 0 18.387 18.387">
						<g transform="translate(-786.307 -557.806)">
							<rect width="24" height="2" transform="translate(804.693 559.221) rotate(135)"></rect>
							<rect width="24" height="2" transform="translate(787.721 557.809) rotate(45)"></rect>
						</g>
					</svg>
				</div>
				<p class="cart-sidebar__title">Votre panier</p>
				<div id="_desktop_cart">
					<div class="blockcart cart-preview active">
						<div class="blockcart-header">
							<a rel="nofollow" aria-label="Lien du panier" href="">
								<svg xmlns="http://www.w3.org/2000/svg" width="21.845" height="19" viewbox="0 0 21.845 19">
									<path id="Union_1" data-name="Union 1" d="M262.153,1991.435a3.533,3.533,0,0,1-3.38-2.539l-2.758-9.612a.41.41,0,0,1,.406-.52h3.807l2.6-5.53a.409.409,0,0,1,.755.035.407.407,0,0,1-.015.313l-2.436,5.179h11.592l-2.436-5.179a.41.41,0,0,1,.2-.544.409.409,0,0,1,.544.2l2.6,5.53h3.8a.409.409,0,0,1,.406.519l-2.748,9.6a3.55,3.55,0,0,1-3.38,2.551Zm-2.595-2.762a2.709,2.709,0,0,0,2.595,1.962H271.7a2.707,2.707,0,0,0,2.595-1.962l2.6-9.091H256.962Z" transform="translate(-256 -1973)"></path>
								</svg>
								<span>3</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="header__gamification">
				<div class="shttGamification">
					<p class="shttGamification__title">Plus que
						<span>12,50&nbsp;€</span>
						pour obtenir la livraison gratuite</p>
					<div class="shttGamification__grid gamification-both">
						<div class="shttGamification__rode">
							<span class="shttGamification__rodeInside" style="width:67.948717948718%"></span>
						</div>
						<div class="shttGamification__icon shttGamification__freeShipingIcon">
							<svg xmlns="http://www.w3.org/2000/svg" width="28.789" height="15" viewbox="0 0 28.789 15">
								<path id="noun-delivery-4573028" d="M110.894,147.79a.5.5,0,0,0-.5.494V162.3a.5.5,0,0,0,.5.494h13.653a.5.5,0,0,0,.494-.494V148.284a.5.5,0,0,0-.494-.494Zm.5.993h4.287v4.265h0a.5.5,0,0,0,.783.4l1.261-.9,1.256.9h0a.5.5,0,0,0,.784-.4v-4.265h4.287V161.8H111.389Zm5.279,0h2.1v3.3l-.763-.542h0a.5.5,0,0,0-.575,0l-.762.542Zm-13.682,2.868a.5.5,0,1,0,0,.993h3.492a.5.5,0,1,0,0-.993ZM99.513,154.9h0a.5.5,0,1,0,0,.994h6.965a.5.5,0,1,0,0-.994Zm-2.763,3.25a.5.5,0,1,0,0,.993h9.728a.5.5,0,1,0,0-.993Z" transform="translate(-96.252 -147.79)" fill="#898989"></path>
							</svg>
						</div>
						<div class="shttGamification__rode">
							<span class="shttGamification__rodeInside"></span>
						</div>
						<div class="shttGamification__icon shttGamification__freeGiftIcon">
							<svg xmlns="http://www.w3.org/2000/svg" width="18.509" height="18.641" viewbox="0 0 18.509 18.641">
								<g id="Groupe_173207" data-name="Groupe 173207" transform="translate(0 0.112)">
									<path id="Tracé_53069" data-name="Tracé 53069" d="M.376,62H18.509v5.459H16.564V75.05a1.687,1.687,0,0,1-1.694,1.694H3.639A1.687,1.687,0,0,1,1.945,75.05V67.459H0V62Zm15.435,5.459H9.6v8.533h5.27a.965.965,0,0,0,.941-.941Zm-6.9,0H2.7V75.05a.965.965,0,0,0,.941.941h5.27Zm0-.753V62.753H.753v3.953H8.909Zm.69-3.953v3.953h8.219V62.753Z" transform="translate(0 -58.215)" fill="#898989"></path>
									<path id="Tracé_53070" data-name="Tracé 53070" d="M142,5.059C144.321-5.356,154.611,5.122,142,5.059Zm.941-.753C151.913,4.181,144.823-2.658,142.941,4.306Z" transform="translate(-133.091 -0.521)" fill="#898989"></path>
									<path id="Tracé_53071" data-name="Tracé 53071" d="M61.367,4.476C58.983-5.877,48.693,4.538,61.367,4.476Zm-.941-.69C51.391,3.6,58.544-3.179,60.426,3.785Z" transform="translate(-51.705)" fill="#898989"></path>
								</g>
							</svg>
						</div>
						<div class="shttGamification__rode">
							<span class="shttGamification__rodeInside"></span>
						</div>
						<div class="shttGamification__rodeText shttGamification__freeShipingText ">
							<p class="shttGamification__rodeTextAmount">39,00&nbsp;€</p>
							<p>Livraison gratuite</p>
						</div>
						<div class="shttGamification__rodeText shttGamification__freeGiftText ">
							<p class="shttGamification__rodeTextAmount">49,00&nbsp;€</p>
							<p>Cadeau offert</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="body">
			<div class="cart-overview">
				<ul class="cart-items">
					<li class="cart-item">
						<div
							class="product-line-grid">
							<!--  product line left content: image-->
							<div class="product-line-grid-left">
								<span class="product-image media-middle">
									<img src="/img/miniature.jpg" alt="">
								</span>
							</div>
							<!--  product line body: label, discounts, price, attributes, customizations -->
							<div class="product-line-grid-body">
								<div>
									<div class="product-line-info">
										<a class="label" href="">Cuissard EKOI 3D GEL PERF HEXA Noir</a>
									</div>
									<div class="product-line-info">Couleur noir / Taille XS</div>
									<div
										class="bottom">
										<!-- product line quantity -->
										<div class="qty">
											<div class="input-group">
												<input class="js-cart-line-product-quantity form-control" type="number" value="1" name="product-quantity-spin" style="display: block;">
											</div>
										</div>
										<!--  product line right content: delete -->
										<div class="product-line-actions">
											<div class="cart-line-product-actions">
												<a class="remove-from-cart" href="">Supprimer</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div
								class="cart-product-line-right">
								<!-- product line price -->
								<div class="product-line-grid-body price">
									<span class="product-price">
										<strong>3,30&nbsp;€</strong>
									</span>
								</div>
							</div>
						</div>
					</li>
					<li class="cart-item">
						<div
							class="product-line-grid">
							<!--  product line left content: image-->
							<div class="product-line-grid-left">
								<span class="product-image media-middle">
									<img src="/img/miniature.jpg" alt="">
								</span>
							</div>
							<!--  product line body: label, discounts, price, attributes, customizations -->
							<div class="product-line-grid-body">
								<div>
									<div class="product-line-info">
										<a class="label" href="">Cuissard EKOI 3D GEL PERF HEXA Noir</a>
									</div>
									<div class="product-line-info">Couleur noir / Taille XS</div>
									<div
										class="bottom">
										<!-- product line quantity -->
										<div class="qty">
											<div class="input-group">
												<input class="js-cart-line-product-quantity form-control" type="number" value="1" name="product-quantity-spin" style="display: block;">
											</div>
										</div>
										<!--  product line right content: delete -->
										<div class="product-line-actions">
											<div class="cart-line-product-actions">
												<a class="remove-from-cart" href="">Supprimer</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div
								class="cart-product-line-right">
								<!-- product line price -->
								<div class="product-line-grid-body price">
									<span class="product-price">
										<strong>3,30&nbsp;€</strong>
									</span>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="cart-item-opener" data-open-text="Voir tous les produits de mon panier" data-close-text="Voir moins">
				<span>Voir tous les produits de mon panier</span>
			</div>
			<section class="featured-products">
				<h2 class="title">Articles recommandés</h2>
				<div class="products">
					<div class="product-miniature">
						<img src="/img/miniature.jpg" alt="">
						<div class="tags">
							<span class="tag red">Racing</span>
							<span class="tag new">New</span>
							<span class="tag">8h</span>
							<span class="tag">Anti-abrasion</span>
							<span class="tag">Court</span>
						</div>
						<h3 class="title">Cuissard EKOI 3D GEL PERF HEXA Noir</h3>
						<div class="price discounted">
							<div class="current-price">93,49 €</div>
							<div class="original-price">169,99 €</div>
							<div class="discount">45% de réduction</div>
						</div>
						<a class="review-stars" href="#review">
							<img src="/img/star-review.svg" alt="">
							<span>(43)</span>
						</a>
					</div>
					<div class="product-miniature">
						<img src="/img/miniature.jpg" alt="">
						<div class="tags">
							<span class="tag red">Racing</span>
							<span class="tag new">New</span>
							<span class="tag">8h</span>
							<span class="tag">Anti-abrasion</span>
							<span class="tag">Court</span>
						</div>
						<h3 class="title">Cuissard EKOI 3D GEL PERF HEXA Noir</h3>
						<div class="price discounted">
							<div class="current-price">93,49 €</div>
							<div class="original-price">169,99 €</div>
							<div class="discount">45% de réduction</div>
						</div>
						<a class="review-stars" href="#review">
							<img src="/img/star-review.svg" alt="">
							<span>(43)</span>
						</a>
					</div>
				</div>
			</section>
		</div>
		<div class="cart-sidebar-footer">
			<div class="shttCart-disclaimer">
				<span class="disclaimer">Les frais de livraison définitifs et tout code promo s’appliquent lors du paiement</span>
			</div>
			<a class="btn btn-primary" href="">Voir mon panier</a>
			<span class="btn btn-outline close">Continuer mes achats</span>
		</div>
	</div>
</div>
