<div class="newsletter">
  <div class="wrapper">
    <div class="content">
      <h2 class="title">La newsletter Ekoï</h2>
      <p>Inscrivez-vous pour rester dans la boucle : offres exclusives et avant-première</p>
    </div>
    <div class="form">
      <form>
        <input type="email" name="email" placeholder="Entrez votre adresse mail">
        <button type="submit" class="btn btn-outline">Envoyer votre demande</button>
      </form>
    </div>
  </div>
</div>

<footer class="footer">
		<div class="reassurance">
      <div class="item">
        <img src="/img/footer/reassurance-service-client.svg" alt="">
        <div>
          <h3 class="title">Service client</h3>
          <p>A votre écoute</p>
        </div>
      </div>
      <div class="item">
        <img src="/img/footer/reassurance-livraison-offerte.svg" alt="">
        <div>
          <h3 class="title">Livraison offerte</h3>
          <p>Disponible</p>
        </div>
      </div>
      <div class="item">
        <img src="/img/footer/reassurance-paiement-3x.svg" alt="">
        <div>
          <h3 class="title">Paiement 2X ou 3X</h3>
          <p>Sans frais</p>
        </div>
      </div>
      <div class="item">
        <img src="/img/footer/reassurance-satisfait.svg" alt="">
        <div>
          <h3 class="title">Satisfait ou remboursé</h3>
          <p>Retour sous 30 jours</p>
        </div>
      </div>
      <div class="item">
        <img src="/img/footer/reassurance-garantie.svg" alt="">
        <div>
          <h3 class="title">Garantie</h3>
          <p>Sur tous vos produits</p>
        </div>
      </div>
      <div class="item">
        <img src="/img/footer/reassurance-marque.svg" alt="">
        <div>
          <h3 class="title">Marque</h3>
          <p>française</p>
        </div>
      </div>
		</div>
    <div class="middle">
      <div>
        <img src="/img/footer/logo.svg" alt="" class="logo">
        <div class="social">
          <a href="" tooltip="facebook" class="item">
            <img src="/img/footer/facebook.svg" alt="">
          </a>
          <a href="" tooltip="instagram" class="item">
            <img src="/img/footer/instagram.svg" alt="">
          </a>
          <a href="" tooltip="strava" class="item">
            <img src="/img/footer/strava.svg" alt="">
          </a>
          <a href="" tooltip="youtube" class="item">
            <img src="/img/footer/youtube.svg" alt="">
          </a>
          <a href="" tooltip="pinterest" class="item">
            <img src="/img/footer/pinterest.svg" alt="">
          </a>
        </div>
      </div>
      <div class="list">
        <div class="item">
          <h3 class="title">Entreprise</h3>
          <ul>
            <li>
              <a href="">La marque</a>
            </li>
            <li>
              <a href="">Presse</a>
            </li>
            <li>
              <a href="">Showroom</a>
            </li>
            <li>
              <a href="">Recrutement</a>
            </li>
          </ul>
        </div>
        <div class="item">
          <h3 class="title">Services</h3>
          <ul>
            <li>
              <a href="">Contact</a>
            </li>
            <li>
              <a href="">FAQ</a>
            </li>
            <li>
              <a href="">Livraison</a>
            </li>
            <li>
              <a href="">Paiement</a>
            </li>
            <li>
              <a href="">Conseils / Guides d'achat</a>
            </li>
          </ul>
        </div>
        <div class="item">
          <h3 class="title">Ekoï family</h3>
          <ul>
            <li>
              <a href="">Ekoï VIP club</a>
            </li>
            <li>
              <a href="">Ekoï Sponsoring</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="selector-wrapper">
        <button class="selector fr" popovertarget="langselector">EUR € / France</button>
      </div>
    </div>
    <div class="copyright desktop">
      <p>© Copyright 2008-2024 - EKOI - Tous droits réservés - © Crédits photos : EKOI - <a href="">CGV</a> - <a href="">CGU</a> -  <a href="">CGU Ekoï Sport Optical</a> - <a href="">Protection des données</a> - <a href="">Gestion des cookies</a> - <a href="">Recrutement</a> - Réalisé par l’<a href="">agence web 16h33</a></p>
    </div>
    <div class="copyright mobile">
      <ul>
        <li>
          <a href="">CGV</a>
        </li>
        <li>
          <a href="">CGU</a>
        </li>
        <li>
          <a href="">CGU Ekoï Sport Optical</a>
        </li>
        <li>
          <a href="">Protection des données</a>
        </li>
        <li>
          <a href="">Gestion des cookies</a>
        </li>
        <li>
          <a href="">Recrutement</a>
        </li>
      </ul>
      <p>© Copyright 2008-2024 - EKOI - Tous droits réservés - © Crédits photos : EKOI - Réalisé par l’<a href="">agence web 16h33</a></p>
    </div>
</footer>
