<header class="header">
  <div class="top">
    <div class="wrapper">
      <div class="banner">
        <p class="item">L’extraordinaire Braderie Ekoï est ouverte! Jusqu’à -60%</p>
      </div>
      <button class="selector fr" popovertarget="langselector">EUR € / France</button>
    </div>
  </div>
  <div class="wrapper">
    <img src="/img/logo/ekoi.svg" alt="" class="logo">
    <div class="menu active">
      <div class="inner">
        <img src="/img/logo/ekoi.svg" alt="" class="logo">
        <button class="selector fr" popovertarget="langselector">EUR € / France</button>
      </div>
      <nav>
        <ul>
          <li>
            <a href="#">Offres du moment</a>
          </li>
          <li class="parent">
            <a href="#">Homme</a>
            <div class="submenu">
              <div class="level-1">
                <span class="back">Retour</span>
                <span class="title">Homme</span>
                <ul>
                  <li>
                    <a href="">En ce moment</a>
                  </li>
                  <li class="parent">
                    <a href="">Produits</a>
                    <div class="level-2">
                      <span class="back">Retour</span>
                      <span class="title">Produits</span>
                      <ul>
                        <li class="parent">
                          <a href="">Vêtements</a>
                          <div class="level-3">
                            <span class="back">Retour</span>
                            <span class="title">Vêtements</span>
                            <ul>
                              <li>
                                <a href="">Vêtements</a>
                              </li>
                              <li>
                                <a href="">Equipements</a>
                              </li>
                              <li>
                                <a href="">Casques</a>
                              </li>
                            </ul>
                          </div>
                        </li>
                        <li>
                          <a href="">Equipements</a>
                        </li>
                        <li>
                          <a href="">Casques</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="">Disciplines</a>
                  </li>
                  <li>
                    <a href="">Collaborations</a>
                  </li>
                </ul>
              </div>
              <div class="picture">
                <img src="/img/submenu.jpg" alt="">
              </div>
            </div>
          </li>
          <li>
            <a href="#">Femme</a>
          </li>
          <li>
            <a href="#">Ekoï Custom</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="right">
      <button class="search">
        <span class="label">Rechercher un produit</span>
      </button>
      <a href="#" class="user"></a>
      <a href="#" class="cart"></a>
    </div>
  </div>
</header>

<div class="mobile-navbar">
  <button class="search"></button>
  <a href="#" class="user"></a>
  <a href="#" class="cart"></a>
  <button class="menu-toggle"></button>
</div>

<div class="langselector" id="langselector" popover>
  <span class="title">Préférences</span>
  <form>
    <div class="form-group">
      <label for="lang">Langue</label>
      <select type="text" name="lang" id="lang">
        <option value="fr">Français</option>
      </select>
    </div>
    <div class="form-group">
      <label for="curr">Devise</label>
      <select type="text" name="curr" id="curr">
        <option value="fr">Euro €</option>
      </select>
    </div>
    <button class="btn" type="submit">Mettre à jour les préférences</button>
  </form>
</div>

<script>
  if (window.matchMedia('(min-width: 1025px)').matches) {
    let header = document.querySelector('.header');
    console.log(header.offsetHeight);
    document.documentElement.style.setProperty("--header-height", `${header.offsetHeight}px`);
  }

  if (window.matchMedia('(max-width: 1024px)').matches) {
    let menuParents = document.querySelectorAll('.header nav ul li.parent');

    menuParents.forEach(parent => {
      let back = parent.querySelector('.back');

      parent.addEventListener('click', (e) => {
        if (e.target == parent) {
          e.preventDefault();
          parent.classList.add('active');
        }
      });

      back.addEventListener('click', () => {
        parent.classList.remove('active');
      });
    });
  }
</script>